a {
    text-decoration: none;
    color: white;
}

.container {
    width: 50vw;
}

textarea {
    width: 95%;
}

#commentWrite {
    width: 50%;
    margin: 0 auto;
}

#comment {
    margin-bottom: 100px;
    text-align: center;
}

.delete_btn {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 50%;
}

.cmt {
    display: flex;
    justify-content: space-between;
}

#commentList {
    width: 50%;
    margin: 0 auto;
}

#like-btn {
    border: none;
    background: none;
}

#commentListContainer {
    display: flex;
    flex-direction: column;
}

.red {
    color: red;
}
