a {
    text-decoration: none;
    color: white;
}

.container {
    width: 50vw;
}

textarea {
    width: 600px;
}

#commentWrite {
    display: flex;
    justify-content: center;
}

#comment {
    margin-bottom: 100px;
}
